# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\C#Learning\HotelSystemExercise\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
